* {
    border: 0;
}

.container {
    height: 100vh;
    display: grid;
    gap: 8px;
    grid-template-areas: 
    "area1 area1 area1 area1"
    "area2 area2 area3 area3"
    "area2 area2 area4 area5";
}

.container > div:nth-child(1){
    grid-area: area1;
    background-color: brown;
}
.container > div:nth-child(2){
    grid-area: area2;
    background-color: darkgreen;
}
.container > div:nth-child(3){
    grid-area: area3;
    background-color: darkmagenta;
}
.container > div:nth-child(4){
    grid-area: area4;
    background-color: darkblue;
}
.container > div:nth-child(5){
    grid-area: area5;
    background-color: goldenrod;
}