<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HB3</title>
  </head>
  <body>
    <p>Séries de Televisão</p>
    <ul>
      {{#each series}}
        <li>{{nome}} - Ano de lançamento: {{ano}}</li>
      {{/each}}
    </ul>
  </body>
</html>